---
const path = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
---

<div class="wrapper">
  <div id="scroller" class="scroller">
    <a href={`${import.meta.env.BASE_URL}`}><svg viewBox="0 0 1170 200" width="140" style="color: var(--sui-color-neutral-primary);"><use href={`${import.meta.env.BASE_URL}logo.svg#root`} /></svg></a>

    <ul class="list">
      <li>
        <a class:list={["menu-item", { active: path === "" }]} href={`${import.meta.env.BASE_URL}`}
          >Introduction</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "getting-started/" }]}
          href={`${import.meta.env.BASE_URL}getting-started/`}>Getting Started</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "theming/" }]}
          href={`${import.meta.env.BASE_URL}theming/`}>Theming</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "advanced/" }]}
          href={`${import.meta.env.BASE_URL}advanced/`}>Advanced</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "troubleshooting/" }]}
          href={`${import.meta.env.BASE_URL}troubleshooting/`}>Troubleshooting</a
        >
      </li>
    </ul>

    <p class="category">APPEARANCE</p>
    <ul class="list">
      <li>
        <a
          class:list={["menu-item", { active: path === "components/button/" }]}
          href={`${import.meta.env.BASE_URL}components/button/`}>Button</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/link/" }]}
          href={`${import.meta.env.BASE_URL}components/link/`}>Link</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/card/" }]}
          href={`${import.meta.env.BASE_URL}components/card/`}>Card</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/menu-item/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/menu-item/`}>Menu Item</a
        >
      </li>
    </ul>

    <p class="category">FORM</p>
    <ul class="list">
      <li>
        <a
          class:list={["menu-item", { active: path === "components/input/" }]}
          href={`${import.meta.env.BASE_URL}components/input/`}>Input</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/textarea/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/textarea/`}>Textarea</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/select/" }]}
          href={`${import.meta.env.BASE_URL}components/select/`}>Select</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/checkbox/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/checkbox/`}>Checkbox</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/switch/" }]}
          href={`${import.meta.env.BASE_URL}components/switch/`}>Switch</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/radio/" }]}
          href={`${import.meta.env.BASE_URL}components/radio/`}>Radio</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/label/" }]}
          href={`${import.meta.env.BASE_URL}components/label/`}>Label</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/legend/" }]}
          href={`${import.meta.env.BASE_URL}components/legend/`}>Legend</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/helper-text/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/helper-text/`}>Helper Text</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/fieldset/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/fieldset/`}>Fieldset</a
        >
      </li>
    </ul>

    <p class="category">MISCS.</p>
    <ul class="list">
      <li>
        <a
          class:list={["menu-item", { active: path === "components/icon/" }]}
          href={`${import.meta.env.BASE_URL}components/icon/`}>Icon</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/table/" }]}
          href={`${import.meta.env.BASE_URL}components/table/`}>Table</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/key-value/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/key-value/`}>Key-Value</a
        >
      </li>
      <li>
        <a
          class:list={["menu-item", { active: path === "components/dialog/" }]}
          href={`${import.meta.env.BASE_URL}components/dialog/`}>Dialog</a
        >
      </li>
      <li>
        <a
          class:list={[
            "menu-item",
            { active: path === "components/progress/" },
          ]}
          href={`${import.meta.env.BASE_URL}components/progress/`}>Progress</a
        >
      </li>
    </ul>    

    <a class="button tertiary" href="http://github.com/yuto-hasegawa/sashimi-ui" target="_blank" rel="noopener noreferrer">
      <svg class="icon" style="color: var(--sui-color-neutral-primary);"><use href={`${import.meta.env.BASE_URL}github.svg#root`} /></svg>
    </a>
  </div>
</div>

<script>
  const path = window.location.pathname;
  const anchorEl = document.querySelector(`a[href="${path}"]`);
  const scrollerEl = document.getElementById("scroller");

  if (anchorEl) {
    const anchorY  = anchorEl.getBoundingClientRect().top;
    scrollerEl?.scrollTo({
      top: anchorY - 100,
      behavior: "instant",
    });
  }
</script>

<style>
  .wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
  }
  .scroller {
    padding: 16px;
    position: absolute;
    inset: 0;
    overflow: auto;
  }
  .scroller::-webkit-scrollbar {
    width: 12px;
  }
  .scroller::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroller::-webkit-scrollbar-thumb {
    background-color: var(--sui-color-neutral-tertiary);
    border-radius: 20px;
  }
  .category {
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    margin-block-start: 32px;
  }
  .list {
    list-style: none;
    padding: 0;
    gap: 0;
  }
</style>
